nav {
  margin: 0 auto;
  top: 0px;
  left: 0px;
  background-color: #33c37a;
  position: fixed !important;
  z-index: 1000;
  font-family: 'Pacifico', cursive;
}

.formbox {
  background-color: #fff;
  margin: 0 auto;
  margin-top: 80px;
  width: 50%;
  min-width: 320px;
  padding: 20px;
  max-width: 800px;
}
.formbox input {
  width: 50%;
}
.formbox select {
  margin-bottom: 18px;
}
.formbox .btn {
  background-color: #33c37a;
  width: 100%;
}
.formbox .btn i, .formbox .btn span {
  vertical-align: top;
  margin-right: 5px;
}
.formbox .btn:hover {
  background-color: #23927b;
}
.formbox img {
  width: 80px;
  height: auto;
  margin: 0 auto;
  display: block;
}

body {
  background-color: #f7f7f7;
}
